processes:
  -
    environment: production
    command: clockwork clock.rb
    options:
      :out:
        - log/clockwork.log
        - w+
      :err: :out
  -
    environment: test
    command: another_process
  -
    command: third